name: Waka Readme

on: 
    workflow_dispatch: 
    schedule: 
        - cron: "0 0 * * *"
    
jobs: 
    update-readme: 
        name: WakaReadme DevMetrics
        runs-on: ubuntu-latest 
        steps: 
            - uses: athul/waka-readme@master
              with: 
                WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }} 
                GH_TOKEN: ${{ secrets.GH_TOKEN }}
                ### content
                SHOW_TITLE: true
                SECTION_NAME: Stats
                BLOCKS: ░▒▓█
                CODE_LANG: rust
                TIME_RANGE: all_time
                LANG_COUNT: 5
                SHOW_TIME: true
