name: Waka Readme

on: 
    schedule: 
        - cron: '0 0 * * *' 
    workflow_dispatch: 
jobs: 
    update-readme: 
        name: Update Readme with Metrics 
        runs-on: ubuntu-latest 
        steps: 
            - uses: athul/waka-readme@master
              with: 
                WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }} 
                ### content
                SHOW_TITLE: true
                SECTION_NAME: Stats
                BLOCKS: ░▒▓█
                CODE_LANG: rust
                TIME_RANGE: all_time
                LANG_COUNT: 5
                SHOW_TIME: true
